* {
　　-moz-box-sizing: border-box;
　　-webkit-box-sizing: border-box;
　　box-sizing: border-box;
	font-family: Verdana, Arial, sans-serif;
}


/*test*/
/*body{ background: green; }
@media only screen and (max-width: 480px) {body{ background: yellow; }}
*/


/*header*/

header {
	background-image: url(calwaen-liew-343557-unsplash.jpg);
	background-position: center;
	color:#ffffff;
	clear: :both;
	height:15vh;
}

header h1 {
	font-size: 40px;

}

/*nav*/
nav {
	clear:both;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
    background-color: #000000;
    height:1.5em;
    text-align:right;
}

nav li {
/*    float: right;*/
    display: inline;
    margin: 0px 5px;
}

nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
}

nav li a:hover {
    color: #afafaf;
}

/*footer*/

footer {
	background-color: #000000;
	height: 70px;
	clear:both;
}

footer p{
	color: #ffffff;
	float: center;
	font-size: 16px;
	text-align: center;
}


/*content*/

.img {
	margin:2%;
	display:inline;
	width: 50%;
	height: 50vh;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.content {
	padding: :2%;
	margin:2%;
	height: 50vh;
	display:inline;
	width: 40%;
	float: right;

}

.content a {
	color:	#00BFFF;
}



#index-img {
	background-image: url(indeximage.jpg);

}

#works-img1 {
	background-image: url(find.jpg);


}

#works-img2 {
	background-image: url(gift.jpg);


}

#js-img1 {
	background-image: url(js.jpg);

}

#about-img1 {
	background-image: url(profile.jpg);
}

@media only screen and (max-width: 480px) {
.content {
	clear:both;
	width:80vw;
}
.img 	{clear:both;
	width:80vw;
;}
}